@import url('https://fonts.googleapis.com/css2?family=Crushed&display=swap');

@font-face {
    font-family:'super funtime' ;
    src: url(../rep-1/fuentes/super_funtime/Super\ Funtime.ttf) format(opentype);
}

@font-face {
    font-family:'baby girly'; 
    src: url(../rep-1/fuentes/baby_girly_script/Baby\ Girly.ttf) format(opentype);
}

body{
    font-family: 'Crushed', cursive;
    font-size: 30px;
}

img{
    margin-left: 250px;
}

h1{
    font-family: 'super funtime', cursive;
    text-align: center;
    background-color: lightgreen;
}

span{
    background-color: yellow;
}

li{
    margin-bottom: 2px;
}